[req]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[dn]
CN = nats.local

[req_ext]
subjectAltName = @alt_names

[alt_names]
IP.1 = 10.192.192.200
DNS.1 = localhost
DNS.2 = JetStream.com
